h2{
  font-size: 24px;
}

h4{
  font-size: 18px;
}

h1{
  font-size: 38px;
  font-family: 'Kaisei Opti', serif;
}

img{
  border:none;
  outline: none;
  box-shadow
  : none;
}

@media(max-width:800px){
  h3{
    font-size: 14px;
  }

  h1{
    font-size: 24px;
  }
}
