h2{
  font-size: 24px;
}

h4{
  font-size: 18px;
  
}

body{
  font-family: 'Archivo', sans-serif;
}




h1{
  font-size: 38px;
  /* font-family: 'Kaisei Opti', serif; */
}

img{
  border:none;
  outline: none;
  box-shadow
  : none;
}

@media(max-width:800px){
  h3{
    font-size: 14px;
  }

  h1{
    font-size: 24px;
  }
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

