/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #99b5bb;
  --secondary: #D1E4DE;
  --accent:#ECB100;
  --dark: #1B1B1B;
  --mediumDark: #636363;
  --medium: #a6a6a6;
  --light: #F2F2F2;
  --red: #ffdae5;
  --redB:rgb(255, 52, 52)5;

}

