@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  --primary: #99b5bb;
  --secondary: #D1E4DE;
  --accent:#ECB100;
  --dark: #002C34;
  --light: #FDFFFF;

}

